@{
    ViewBag.Title = "Claim Submitted";
}

<div class="container py-5 text-center">
    <h2 class="text-success">Your claim has been successfully submitted!</h2>
    <p class="lead">You will be notified once your claim is reviewed.</p>
</div>
